.content {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin: 30px;
  font-family: Arial;
}

p {
  font-family: serif;
  font-size: 18px;
}

header {
  text-align: center;
  margin: 50px auto;
}

.pages ul li {
  font-weight: bold;
  display: inline-block;

}

.pages ul {
  margin-bottom: 10px;
  padding: 0;
}

.name {
  margin-top: 0;
  text-transform: uppercase;
}

.one {
  font-style: italic;
}

main {
  width: 68%;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.intro {
  width: 50%;
  float:left;
  padding-right: 0px;
  margin: 30px auto 50px auto;
}

.intro h2 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}

.intro p {
  font-family: serif;
  font-size: 17px;
}

.avatar {
  float: right;
  width: 40%;
}

.avatar img {
  width: 260px;
  height: 260px;
  padding: 5px;
  border: 1px solid black;
}

#Portfolio ul li img {
  max-width: 800px;
  margin: 0 auto;
}

.links {
  text-align: center;
  margin: 30px auto 50px auto;

}
.links ul li {
  display: inline-block;
}

a {
  color: black;
  font-weight: bold;
}
